@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);

*{
 padding: 0;
 margin: 0;   
}

.griding{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    "heads heads"
    "side main"
    "foots foots";
}
#heads{
    grid-area: heads;
    background-color: cadetblue;
    width: 100%;
}
#itm3{
    grid-area: side; 
    padding: 10em;
}
#itm3 p{
    font-size: 2em;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
}
#itm4{
    grid-area: main;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}

#foots{
    grid-area: foots;
    background-color: cadetblue;
    width: 100%;
}


.navig{
    display: flex;   
}

nav div a{
    text-decoration: none;
    color: rgb(7, 8, 8);
    padding: 10px 15px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: -0.2em;
}

nav div a:hover {
    background-color:rgb(5, 59, 61);
    color: rgb(216, 208, 208);
}
nav div a.active{
    background-color:rgb(5, 59, 61);
    color: rgb(216, 208, 208);
}
#name{
    margin-top: 3em;
    margin-bottom: 2em;
    border: 4px solid cadetblue;
}

#email{
    margin-bottom: 2em;
    border: 4px solid cadetblue;
}


#submit{
    size: 50px;
    margin-top: 1em;
    position: relative;
    top: 1.5em;
    right: 2em;
    background-color: cadetblue;
    transform: scale(1);
    transition: .1s ease-in-out;
}

#submit:hover{
    transform: scale(1.3);
}

#txta{
    border: 4px solid cadetblue;
}

form{
    padding: 3em;
    position: relative;
    top: 4em;
}
.sec{
    margin-top: 80px;
}

img{
    transform: scale(1);
    transition: .2s ease-in-out; 
}
img:hover{
    transform: scale(1.3);
} 


.logo{
    display: flex;     
}
.logo img{
    width: 50px;
    height: 50px;
    padding: 1em;
}

footer img{
    float: right;
    width:25px;
    height:25px;
    padding: 5px;
}

.chcbtn{
    color: rgb(236, 229, 229);
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
    position: fixed;
    right:2.5em;
    top: 15px;
}
#checks{
    display: none;
    float: right;
    
}


@media(max-width: 750px){
    .chcbtn{
        display: inline-block;
    }
    nav div a{
        border: none;
    }

    .navig{
        height: 100vh;
        position: relative;
        left: 0em;
        top: -800px;
        text-align: center ;
        order: 3;
        color: blanchedalmond;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color:rgba(95, 158, 160, 0.801);
        color: rgb(0, 0, 0);
        transition: .3s;
    }

    #check:checked~.navig{
         top: 32px;
}

}

